{
  "currently_syncing": "playlist_items",
  "bookmarks": {
    "playlist_items": {
      "published_at": "2020-04-08T00:00:00.000000Z"
    },
    "videos": {
      "published_at": "2020-04-08T00:00:00.000000Z"
    },
    "channel_basic": {
      "create_time": "2020-04-08T00:00:00.000000Z"
    },
    "channel_province": {
      "create_time": "2020-04-08T00:00:00.000000Z"
    },
    "channel_traffic_source": {
      "create_time": "2020-04-08T00:00:00.000000Z"
    },
    ...
  }
}
